<!DOCTYPE html>
<head>
  <title>Login</title>
</head>

<body>
  <h1>Concat String</h1>
  Name: <%= name %>

  <form name="input" action="">
    <p><input type="text" name="string1" value="" placeholder="string 1"></p>
    <p><input type="text" name="string2" value="" placeholder="string 2"></p>
    <p class="submit"><input type="submit" name="submit" value="concatString task"></p>
  </form>
  Result: <div id="result" style="display: inline"></div>


  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    if (<%= requestConcat %>) {
      socket.emit('concatString', { string1: '<%= string1 %>', string2: '<%= string2 %>', session_token: '<%= session_token %>'});
    }
    socket.on('concatStringRes', function(data) {
      console.log('result: ' + data['concatStringRes']);
      document.getElementById('result').innerHTML = data['concatStringRes'];
    });
  </script>
</body>
</html>
